<div class="container">
  <h3 class="mt-5 py-4">Cadastrar Pet</h3>
  <div class="row">
    <form class="row" (ngSubmit)="submit()" #form="ngForm" [formGroup]="petForm" enctype="multipart/form-data">
      <div class="col-12 col-sm-6">
        <div class="mb-3">
          <label for="pet_nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="pet_nome" formControlName="name" placeholder="Nome do Pet"
            required>

          <div *ngIf="name.invalid && form.submitted">
            <p *ngIf="name.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>

        <div class="mb-3">
          <label for="pet_descricao" class="form-label">Descrição</label>
          <textarea id="pet_descricao" class="form-control" formControlName="description"
            placeholder="Uma breve descrição do Pet" required></textarea>
        </div>

        <div class="mb-3">
          <label for="pet_foto" class="form-label">Foto do Pet</label>
          <input type="file" class="form-control" id="pet_foto" name="pet_foto" (change)="onFileSelected($event)"
          required accept="image/*" capture="camera">
        </div>
        <div class="mb-3">
          <label for="pet_perdido" class="form-label">Pet Perdido?</label>
          <select class="form-select" formControlName="is_lost" required>
            <option selected value="">Selecione.....</option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>

          <div *ngIf="is_lost.invalid && form.submitted">
            <p *ngIf="is_lost.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="mb-3">
          <label for="pet_cor" class="form-label">Cor do Pet</label>
          <select class="form-select" formControlName="color" name="id_cor_pelagem_fk" required>
            <option selected value="">Selecione.....</option>
            <option *ngFor="let color of colors" value="{{ color.id_color }}">{{ color.color_name }}</option>
          </select>

          <div *ngIf="color.invalid && form.submitted">
            <p *ngIf="color.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="pet_porte" class="form-label">Porte do Pet</label>
          <select class="form-select" formControlName="fur" name="id_porte_fk" required>
            <option selected value="">Selecione.....</option>
            <option *ngFor="let fur of furs" value="{{ fur.id_fur }}">{{ fur.fur_name }}</option>
          </select>

          <div *ngIf="fur.invalid && form.submitted">
            <p *ngIf="fur.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="pet_categoria" class="form-label">Categoria do Pet</label>
          <select class="form-select" formControlName="category" required>
            <option selected value="">Selecione.....</option>
            <option *ngFor="let category of categorys" value="{{ category.id_category }}">{{ category.category_name }}
            </option>
          </select>

          <div *ngIf="category.invalid && form.submitted">
            <p *ngIf="category.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="pet_raca" class="form-label">Raça do Pet</label>
          <select class="form-select" formControlName="race" required>
            <option selected value="">Selecione.....</option>
            <option *ngFor="let race of races" value="{{ race.id_race }}">{{ race.race_name }}</option>
          </select>

          <div *ngIf="race.invalid && form.submitted">
            <p *ngIf="race.errors?.['required']">Campo Obrigatório.</p>
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-outline-success col-sm-2 mt-4">
    </form>
  </div>
</div>
