<main>
  <!-- BOAS VINDAS -->
  <section>
    <div class="container mb-3 mt-4">
      <div class="row">
        <div class="col-12 col-md-6">
          <h5 class="mt-5" id="boasvindas-buscapet">BOAS-VINDAS A BUSCAPET 👋</h5>
          <h3>Ajudamos encontrar seu Pet Perdido de forma simplificada.</h3>
          <p>Os Pets cadastrados no BuscaPet são encontrados rapidamente devido a nossa quantidade de pessoas engajadas e conectadas na rede.</p>
          <button class="btn btn-success" routerLink="pet/pet-feed">Listar Pets</button>
        </div>
        <div class="col-12 col-md-6">
          <img class="mt-5" src="../assets/images/foto-pets.png" alt="Foto de Animais" id="foto-pets">
        </div>
      </div>
    </div>
  </section>

  <!-- SERVIÇOS -->
  <section class="mb-5" id="menu-servicos">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 text-center mt-4 mb-3">
          <p id="servicos"><b>SERVIÇOS</b></p>
          <h2>Como podemos ajudá-lo <br> a se sentir melhor?</h2>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/icons/check.svg" alt="Check" width="20px" class="mb-3" id="icon-check">
                <h5 class="card-title">Divulgação do seu Pet</h5>
                <p class="card-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/icons/check.svg" alt="Check" width="20px" class="mb-3">
                <h5 class="card-title">Rede de assistência</h5>
                <p class="card-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/icons/check.svg" alt="Check" width="20px" class="mb-3">
                <h5 class="card-title">Encontrar Pet perdido</h5>
                <p class="card-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SOBRE NÓS -->
  <section class="mt-5" id="menu-sobre-nos">
    <div class="container mb-3 ">
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="../assets/images/sobre-nos.png" alt="Pet e humano" id="foto-pets">
        </div>
        <div class="col-12 col-md-6 mt-5">
          <p class="mt-5" id="boasvindas-buscapet"><b>SOBRE NÓS</b></p>
          <h3>Entenda quem somos <br> e por que existimos.</h3>
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint..</p>
        </div>
      </div>
    </div>
  </section>

  <!-- CONTATO -->
  <section class="mt-5" id="menu-contato">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-12 col-md-6 mt-5">
          <p class="mt-5" id="boasvindas-buscapet"><b>CONTATO</b></p>
          <h3>Entre em contato <br> com a gente!</h3>
          <img src="../assets/icons/localizacao.png" alt="Localização" width="20px" class="mb-3"><a> R. Amauri Souza, 346</a>
          <br>
          <img src="../assets/icons/email.png" alt="E-mail" width="20px" class="mb-3"><a> contato@buscapet.com.br</a>
        </div>
        <div class="col-12 col-md-6 mt-5">
          <img src="../assets/images/contato.png" alt="Humano" id="foto-pets">
        </div>
      </div>
    </div>
  </section>
</main>
